@import url('https://fonts.googleapis.com/css2?family=Itim&family=Russo+One&display=swap');

:root {
    --color-white: #fff;
    --color-white-variant: #E5E5E5;
    --color-yellow: #FCA311;
    --color-yellow-variant: #E78A00;
    --color-black: #000;
    --color-dark-blue: #14213D;
    --border-radius: 50px;
    --border-black: 2px solid #14213D;
    --border-yellow: 2px solid #FCA311;
    --font-russo: 'Russo One', sans-serif;
    --font-itim: 'Itim', cursive;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.5rem;
    font-family: var(--font-itim);
}

a:hover {
    color: var(--color-yellow);
    font-size: 1.8rem;
    transition: 0.7s;
}

/*********** FOOTER CSS STYLES *************/
footer {
    background-color: var(--color-black);
    font-family: var(--font-itim);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

footer .copyright {
    font-size: 1.5rem;
}

footer .developer {
    font-size: 1.2rem;
}

footer .developer a {
    font-size: 1.2rem;
    color: var(--color-yellow-variant);
}

footer .developer a:hover {
    opacity: 0.7;
}

/*********** FOOTER RESPONSIVENESS *************/
@media (max-width: 576px) {
    footer .copyright {
        font-size: 1rem;
    }

    footer .developer {
        font-size: 1rem;
    }

    footer .developer a {
        font-size: 1rem;
    }
}